.hero__section {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.hero__text_wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.sub_headline {
  color: var(--red);
  line-height: 1em;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1em;
  letter-spacing: 0.3rem;
  text-transform: lowercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
}
.hero__headline h1 {
  color: var(--dark-blue);
  font-weight: 700;

  letter-spacing: -0.02em;
  text-shadow: 0 2px 4px rgb(222 42 74 / 5%);
  font-size: 43px;
  font-family: "Plus Jakarta Display", sans-serif;
}
.hero__subtitle {
  font-family: "Plus Jakarta Display", sans-serif;
  font-weight: 500;
  width: 70%;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #62668a;
  font-size: 16px;
}
.hero__container {
  display: flex;
  flex-direction: row;
}
.hero__column {
  text-align: center;
  width: 80%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.hero__row {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}
.hero__row.reverse {
  flex-direction: row-reverse;
}
.hero__image {
  /* max-width: 555px; */
  margin: 0;
  padding: 0;
}
.home__hero-img {
  max-width: 105%;
  /* width: 700px; */
  /* padding-right: 0; */
}

@media screen and (max-width: 498px) {
  .hero__headline h1 {
    font-size: 33px;
  }
  .hero__column {
    width: 90%;
  }
}
@media screen and (min-width: 499px) and (max-width: 768px) {
  .hero__headline h1 {
    font-size: 38px;
  }
  .hero__column {
    width: 100%;
    padding: 0;
  }
  .hero__row {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    width: 120%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__subtitle {
    width: auto;
  }
}
