.pricing-container {
  padding: 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ecf0f3;
  background: #fafafa;
  /* background: #ececec; */
  margin-top: 2rem;
}
.pricing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red);
}

.pricing_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}
.pricing-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}
.pricing_card_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-card {
  background: white;
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
                10px 10px 15px rgba(70, 70, 70, 0.12)   ; */
  box-shadow: 13px 13px 15px #cbced1, -13px -13px 15px #ffffff;
  width: 380px;
  text-decoration: none;
  border-radius: 14px;
  padding: 20px;
  margin: 20px;
  /* border: 8px solid #ececec; */
  /* transform: translate(-50%,-50%); */
}
.pricing-card:nth-child(2) {
  /* transform: scale(1.05); */
  /* background:linear-gradient(var(--light-purple),var(--dark-purple)); */
  /* color: white;     */
  /* box-shadow: 0 10px 30px 20px  rgba(131,8,255,0.2);  */
}

.pricing-card:hover {
  /* transform: scale(1.06); */
  transition: all 0.3s ease-out;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12), inset 13px 13px 15px #cbced1,
    -13px -13px 15px #ffffff, inset 13px 13px 15px #cbced1,
    -13px -13px 15px #ffffff;
}
.pricing-card:hover::after {
  color: var(--red);
}
.pricing-col {
  display: flex;
  flex: 1;
}
.img {
  max-width: 90px;
  padding-left: 0px;
  display: flex;
  background: transparent;
}

.pricing_heading2 {
  color: var(--dark-blue);
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
  font-size: 24px;
}
.pricing_heading2:nth-child(2) {
  color: var(--red);
}
.pricing_description {
  font-family: "Plus Jakarta Display", sans-serif;
  color: #62668a;

  font-size: 18px;
  line-height: 1.688em;
  letter-spacing: -0.01em;
}
@media screen and (max-width: 961px) {
  .pricing-card-container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    height: auto;
    /* background-color: red; */
  }
  .pricing-header {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .pricing-card {
    width: 80%;
    margin-bottom: 10%;
  }
}
